/*			menu
---------------------------*/
div#menu {
  float: left;
  position: relative;
}

ul.menu.lista {
  margin-right: 30px;
}

li {
  list-style: none;
  border: 1px solid;
  padding: 10px;
}

li a{
	width:100%;
}
/*			header
---------------------------*/

/*			content
---------------------------*/
.content {
  width: 80%;
  border: 1px solid;
  left: 202px;
  position: relative;
  margin-top: 16px;
  height:  55%;
  padding: 30px;
}

.new {
  width: 208px;
  position: absolute;
  padding: 10px;
  border: 1px solid;
}

.list-menu {
  width: 200px;
  margin-left: 200px;
}


/*			footer
---------------------------*/
div#footer {
  position: absolute;
  bottom: 0;
}